.details {
    padding: 3px;
    margin: 3px;
    background-color: bisque;
    display: block;
    width: fit-content;
    font-family: Tahoma;
    border: 1px solid black;
    box-shadow: 2px 3px 2px #888888;
}