* {
    box-sizing: border-box;
  }
  
.formRegister {
    border-radius: 5px;
    padding: 20px;
    width: 200%;
}

.labelRegister {
  font-family: Tahoma;
  font-weight: bold;
  font-size: 12px;
  float: left;
}

.inputRegister {
    width: 30%;
    height: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-family: Tahoma;
    margin-bottom: 3%;
}

.btnAdaugaRegister {
  background-color: coral;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10%;
}

.btnAdaugaRegister:hover {
  background-color:  rgb(248, 93, 37);
}

.rowRegister:after {
    content: "";
    display: table;
    clear: both;
}